<div class="products-item-details">
  <img src="https://source.unsplash.com/featured/?<%= taxon.name %>" />
  <div class="products-item-infos">
    <h2><%= product.name %></h2>
    <p><%= product.description %></p>
    <p><%= product.price %> €</p>
  </div>
</div>
